
 <div class="row center-align">
    <div class="col s12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <h3>Github Issues</h3>
          <p>a collection of github issues</p>
        </div>
      </div>
    </div>
  </div>
  <div class="main-div"></div>

  {{#if issues.length}}
    {{#each issues}}

    <div class="row center-align">
          <div class="col offset-s3 s6">
            <div class="card blue-grey darken-2 issue" id="issue-{{this.id}}">
              <div class="card-content white-text">
                <h4><a href="{{this.url}}" target="_blank" class="issue-title-link white-text">{{this.title}}</a></h4>
                <span class="card-user">{{this.user}}</span>
                <hr>
                <p class="issue-description">{{this.description}}</p>
              </div>
              <div class="card-action">
              <p class="issue-comments white-text">{{this.comments}}</p>
              <span class="issue-state white-text">{{this.state}}</span>
              <span class="issue-date white-text">{{this.createdAt}} - {{this.time}}</span>
              </div>
            </div>
          </div>
        </div>
    {{/each}}
    {{/if}}